@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@font-face {
  font-family: "Futura";
  src: url(../fonts/SVNFuturaRegular.otf);
}
@font-face {
  font-family: "FuturaBold";
  src: url(../fonts/SFUFuturaHeavy.TTF);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
a:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
select {
  font-family: "Futura", sans-serif;
}
body {
  font-family: "Futura", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  background-color: #fff;
  overflow-x: hidden;
  font-weight: 300;
}
button {
  font-family: "Futura", sans-serif;
}
input::placeholder {
  font-family: "Futura", sans-serif;
}

.wrapper {
  max-width: 186rem;
  margin: 0 auto;
}

.page-content {
  max-width: 186rem;
  margin: 0 auto;
  background-color: #ededed;
  padding-bottom: 2rem;
  transition: all 0.25s linear;
  flex-grow: 1;
  width: 100%;
}

.container {
  max-width: 1260px;
  padding: 0 3rem;
  margin: 0 auto;
  @media (max-width: 430px) {
    padding: 0 1.5rem;
  }
}
